<h2 mat-dialog-title>Deletar Categoria de Lançamento</h2>
<mat-dialog-content>
  <p>
    Tem certeza que deseja deletar a categoria
    <b>{{ categoria.nome }}</b> ?
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="deletar()">
    <mat-icon aria-label="Deletar Categoria">delete</mat-icon> Deletar
  </button>
  <button mat-raised-button [mat-dialog-close]="true">
    <mat-icon aria-label="Deletar Categoria">clear</mat-icon> Cancelar
  </button>
</mat-dialog-actions>