<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6" [@animacao-login]="estadoLogin" (@animacao-login.done)="alteraStatusForm()">
    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h4 class="title">Entrar</h4>
        <p class="category">Entre com seus dados</p>
      </div>
      <div class="card-content">
        <form [formGroup]="form" novalidate>
          <div class="form">
            <mat-form-field>
              <input matInput placeholder="E-mail" formControlName="email">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="senha" [type]="hide ? 'password' : 'text'" formControlName="senha">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <button mat-raised-button (click)="autenticar()" class="btn btn-info pull-right">
              <i class="material-icons">check</i> Entrar
            </button>
            <mat-progress-bar *ngIf="enviando" mode="indeterminate">
            </mat-progress-bar>
            <div class="clearfix"></div>
            <a routerLink="/auth/registro">Registrar-se</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>