<h2 mat-dialog-title *ngIf="!data.receita.key; else editar">
  Novo Lançamento de Receita
</h2>
<ng-template #editar>
  <h2 mat-dialog-title>Editar Lançamento de Receita</h2>
</ng-template>
<mat-dialog-content>
  <form novalidate [formGroup]="form">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Documento" formControlName="documento" />
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Categoria" formControlName="categoria">
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.nome">
            {{ categoria.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="emissao" placeholder="Emissão" formControlName="emissao" />
        <mat-datepicker-toggle matSuffix [for]="emissao"></mat-datepicker-toggle>
        <mat-datepicker #emissao></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="vencimento" placeholder="Vencimento" formControlName="vencimento" />
        <mat-datepicker-toggle matSuffix [for]="vencimento"></mat-datepicker-toggle>
        <mat-datepicker #vencimento></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Valor" type="number" formControlName="valor" />
      </mat-form-field>
      <label>Quitada? </label>
      <mat-radio-group formControlName="quitada">
        <mat-radio-button value="true">
          Sim
        </mat-radio-button>
        <mat-radio-button value="false">
          Não
        </mat-radio-button>
      </mat-radio-group>
      <mat-form-field *ngIf="form.get('quitada').value=='true'">
        <input matInput placeholder="Valor Quitado" type="number" formControlName="valorquitado" />
      </mat-form-field>
      <mat-form-field *ngIf="form.get('quitada').value=='true'">
        <input matInput [matDatepicker]="quitacao" placeholder="Quitação" formControlName="quitacao" />
        <mat-datepicker-toggle matSuffix [for]="quitacao"></mat-datepicker-toggle>
        <mat-datepicker #quitacao></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="form.get('quitada').value!='true'">
        <input matInput placeholder="Realizar quantos lançamentos?" type="number" formControlName="qtd_lancamento"/>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="inserirReceita()">
    <mat-icon aria-label="Adicionar Receita">save</mat-icon>
    Salvar
  </button>
  <button mat-raised-button [mat-dialog-close]="true">
    <mat-icon aria-label="Deletar Receita">clear</mat-icon> Cancelar
  </button>
</mat-dialog-actions>