<h2 mat-dialog-title *ngIf="!data.categoria.key; else editar">
  Nova Categoria de Lançamento
</h2>
<ng-template #editar>
  <h2 mat-dialog-title>Editar Categoria de Lançamento</h2>
</ng-template>
<mat-dialog-content>
  <form novalidate [formGroup]="form">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Nome" formControlName="nome" />
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Tipo" formControlName="tipo">
          <mat-option *ngFor="let tipo of tipos" [value]="tipo">
            {{ tipo }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="inserirCategoria()">
    <mat-icon aria-label="Adicionar Categoria">save</mat-icon>
    Salvar
  </button>
  <button mat-raised-button [mat-dialog-close]="true">
    <mat-icon aria-label="Deletar Categoria">clear</mat-icon> Cancelar
  </button>
</mat-dialog-actions>