<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="green">
                        <div class="ct-chart" id="receitasSemana"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Receitas da Semana</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado em: {{ hora | date:'dd/MM/yyyy HH:mm:ss' }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="red">
                        <div class="ct-chart" id="despesasSemana"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Despesas da Semana</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado em: {{ hora | date:'dd/MM/yyyy HH:mm:ss' }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="orange">
                        <div class="ct-chart" id="saldoSemana"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Saldo Semana</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado em: {{ hora | date:'dd/MM/yyyy HH:mm:ss' }}
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="green">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Receitas:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#recAbertas" data-toggle="tab">
                                            <i class="material-icons">schedule</i>
                                            Abertas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#recAtrasada" data-toggle="tab">
                                            <i class="material-icons">info</i>
                                            Atrasadas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="recAbertas">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor='let receita of rec_abertas' [style.color]="hora.isAfter(receita.vencimento)?'red':''">
                                            <td>{{ receita.documento }} - {{ receita.historico }}</td>
                                            <td>{{ receita.vencimento | date:'dd/MM/yyyy' }}</td>
                                            <td class="td-actions text-right">
                                                <button (click)="catRecDialog(receita)" rel="tooltip" title="Editar Receber" class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button (click)="delRecDialog(receita)" rel="tooltip" title="Remover" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="recAtrasada">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor='let receita of rec_atrasadas'>
                                            <td>{{ receita.documento }} - {{ receita.historico }}</td>
                                            <td>{{ receita.vencimento | date:'dd/MM/yyyy' }}</td>
                                            <td class="td-actions text-right">
                                                <button (click)="catRecDialog(receita)" rel="tooltip" title="Editar Receber" class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button (click)="delRecDialog(receita)" rel="tooltip" title="Remover" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="red">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Despesas:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#desAbertas" data-toggle="tab">
                                            <i class="material-icons">schedule</i>
                                            Abertas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#desAtrasada" data-toggle="tab">
                                            <i class="material-icons">info</i>
                                            Atrasadas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="desAbertas">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor='let despesa of des_abertas' [style.color]="hora.isAfter(despesa.vencimento)?'red':''">
                                            <td>{{ despesa.documento }} - {{ despesa.historico }}</td>
                                            <td>{{ despesa.vencimento | date:'dd/MM/yyyy' }}</td>
                                            <td class="td-actions text-right">
                                                <button (click)="catDesDialog(despesa)" rel="tooltip" title="Editar Receber" class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button (click)="delDesDialog(despesa)" rel="tooltip" title="Remover" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="desAtrasada">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor='let despesa of rec_atrasadas'>
                                            <td>{{ despesa.documento }} - {{ despesa.historico }}</td>
                                            <td>{{ despesa.vencimento | date:'dd/MM/yyyy' }}</td>
                                            <td class="td-actions text-right">
                                                <button (click)="catDesDialog(despesa)" rel="tooltip" title="Editar Receber" class="btn btn-primary btn-simple btn-xs">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button (click)="delDesDialog(despesa)" rel="tooltip" title="Remover" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>