<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="green">
                        <div class="ct-chart" id="receitasSemana"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Receitas da Semana</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado em: {{ hora_receitas | date:'dd/MM/yyyy HH:mm:ss' }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="red">
                        <div class="ct-chart" id="despesasSemana"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Despesas da Semana</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado em: {{ hora_despesas | date:'dd/MM/yyyy HH:mm:ss' }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="orange">
                        <div class="ct-chart" id="saldoSemana"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Saldo Semana</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> atualizado em: {{ hora_saldo | date:'dd/MM/yyyy HH:mm:ss' }}
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!--
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="green">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#recAberto" data-toggle="tab">
                                            <i class="material-icons">schedule</i>
                                            Abertos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#recAtrasado" data-toggle="tab">
                                            <i class="material-icons">info</i>
                                            Atrasados
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#recQuitada" data-toggle="tab">
                                            <i class="material-icons">check_circle</i>
                                            Quitados
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="recAberto">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor='let receita of rec_abertas'>
                                            <td>{{ receita.documento }} - {{ receita.historico }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="recAtrasado">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor='let receita of rec_atrasadas'>
                                            <td>{{ receita.documento }} - {{ receita.historico }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="recQuitada">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor='let receita of rec_quitadas'>
                                            <td>{{ receita.documento }} - {{ receita.historico }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="red">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="active">
                                        <a href="#desAberto" data-toggle="tab">
                                            <i class="material-icons">schedule</i>
                                            Abertos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#desAtrasado" data-toggle="tab">
                                            <i class="material-icons">info</i>
                                            Atrasados
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#desQuitada" data-toggle="tab">
                                            <i class="material-icons">check_circle</i>
                                            Quitados
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="desAberto">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor='let despesa of des_abertas'>
                                            <td>{{ despesa.documento }} - {{ despesa.historico }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="desAtrasado">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor='let despesa of rec_atrasadas'>
                                            <td>{{ despesa.documento }} - {{ despesa.historico }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="desQuitada">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor='let despesa of rec_quitadas'>
                                            <td>{{ despesa.documento }} - {{ despesa.historico }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->
    </div>
</div>