<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <button mat-fab (click)="catDialog()">
          <mat-icon aria-label="Nova Receita">add</mat-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Receitas</h4>
            <p class="category">Listagem de lançamentos de receitas</p>
          </div>
          <div class="card-content table-responsive mat-elevation-z8">
            <div class="form">
              <!--
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
              </mat-form-field>
            -->
              <mat-progress-bar *ngIf="carregando" mode="indeterminate">
              </mat-progress-bar>
            </div>
            <mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="documento">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>Documento</b>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.quitada=='true'?'blue':data.isAfter(row.vencimento)?'red':data.isSame(row.vencimento)?'olive':''"> {{row.documento}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="historico">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>Histórico</b>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.quitada=='true'?'blue':data.isAfter(row.vencimento)?'red':data.isSame(row.vencimento)?'olive':''"> {{row.historico}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="categoria">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>Categoria</b>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.quitada=='true'?'blue':data.isAfter(row.vencimento)?'red':data.isSame(row.vencimento)?'olive':''"> {{row.categoria}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="emissao">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>Emissão</b>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.quitada=='true'?'blue':data.isAfter(row.vencimento)?'red':data.isSame(row.vencimento)?'olive':''"> {{row.emissao | date:'dd/MM/yyyy'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="vencimento">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>Vencimento</b>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.quitada=='true'?'blue':data.isAfter(row.vencimento)?'red':data.isSame(row.vencimento)?'olive':''"> {{row.vencimento | date:'dd/MM/yyyy'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>Valor</b>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.quitada=='true'?'blue':data.isAfter(row.vencimento)?'red':data.isSame(row.vencimento)?'olive':''"> {{row.valor | currency:'BRL'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="situacao">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>Situação</b>
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.quitada=='true'?'blue':data.isAfter(row.vencimento)?'red':data.isSame(row.vencimento)?'olive':''"> {{(row.quitada=='true')?'Quitada':data.isAfter(row.vencimento)?'Atrasada':'Aberta'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="opcoes">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <b>Opções</b>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button color="primary" (click)="catDialog(row)">
                    <mat-icon aria-label=" Editar receita ">edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="delDialog(row) ">
                    <mat-icon aria-label="Deletar receita ">delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10,20,50,100]" [showFirstLastButtons]="true"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>